/* 
#a{
    border-radius: 25px;
  margin-left: 500px;
}
#c{
    border-radius: 25px;
  margin-left: 500px;

}
#b{
  margin-left: 500px;

    border-radius: 25px;
}
#calc{
    margin-left: 500px;

    border-radius: 25px;    
} */